@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin : 0;
    font-family: 'Nanum Gothic', sans-serif;
    background-image: url('bg.png');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
}

aside {
    width : 300px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 2rem;
}

aside ul {
    padding : 0;
    list-style-type: none;
}


aside a {
    font-size : 2rem;
    color : white;
    text-decoration: none;
    display: inline-block;
    margin : 0.5rem;
}

.special {
    background-color: #FEAB51;
    color : black;
    display: block;
    padding : 1rem;
    text-align: center;
}


main {
    font-size : 2.5rem;
    padding : 3rem;
    color : white;
}


main h1 {
    margin : 0;
}

main h3 {
    margin : 0;
    color : #FEAB51;
}

@media screen and (max-width : 768px) {
    body {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    aside {
        height: auto;
        width: 100%;
    }

    .special {
        display: none;
    }

    aside ul {
        display: flex;
        flex-wrap: wrap;
    }


    main {
        min-height: 60vh;
    }
}